@media only screen and (min-width: 400px) {
    .hero .device {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero__video {
        width: 50%;
    }
    .services__right-image {
        max-width: 60%;
        margin: auto;
    }
    .panel__content-image:nth-child(1) {
        max-width: 65%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --krayt-font-size-base: 20px;
        --krayt-letter-spacing-base: -0.6px;
        --krayt-font-size-title: 24px;
        --krayt-letter-spacing-title: -0.72px;
    }
    .panel__content-image:nth-child(1) {
        max-width: 50%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 62.5% !important;
    }

    /* common */
    .nowrap-desktop {
        white-space: nowrap;
    }

    .nowrap-mobile {
        white-space: normal;
    }

    .section {
        margin-bottom: 200px;
    }

    .section__head:not(.section__head--column) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .section__head.section__head--column {
        row-gap: 32px;
    }

    .section__info {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .section__info-left .heading {
        margin-bottom: var(--krayt-spacing-md);
    }

    .section__head > *,
    .section__info > * {
        -webkit-box-flex: 1;
        -ms-flex: 1 0;
        flex: 1 0;
    }

    .section__head.section__head--column .text-main {
        margin-bottom: 0;
    }

    .section__info-right-image {
        margin: 0 -60px -60px 0;
    }

    .section__preview {
        margin-top: var(--krayt-spacing-xl);
        padding: 20px;
        border-radius: var(--krayt-radius-xl);
    }

    .section__content-block {
        margin-top: var(--krayt-spacing-xl);
    }

    .section__content-block + .section__content-block {
        margin-top: var(--krayt-spacing-md);
    }

    .heading.lv2 {
        font-size: 72px;
        line-height: 1;
        letter-spacing: -2.16px;
    }

    .heading.lv3 {
        font-size: 48px;
        line-height: 1.2;
        letter-spacing: -1.44px;
    }

    .heading.lv4 {
        font-size: 32px;
        line-height: 1.2;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .button {
        background: var(--krayt-main-bg);
        width: 64px;
        height: 64px;
    }

    .button.next:hover,
    .button.prev:hover {
        background-color: var(--krayt-main-bg-hover);
    }

    .button.next:active,
    .button.prev:active {
        -webkit-transform: scale(0.875);
        -ms-transform: scale(0.875);
        transform: scale(0.875);
    }

    .button.next::after,
    .button.prev::after {
        width: 10px;
        height: 20px;
        background-color: var(--krayt-black-color);
    }

    .block {
        border-radius: var(--krayt-radius-xl);
        padding: 60px;
    }

    /* Notes */
    .notes-mobile {
        display: none;
    }

    .note-desktop {
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        position: absolute;
        display: block;
        top: 20px;
        left: 20px;
        width: 32px;
        height: 32px;
        border-radius: var(--krayt-radius-rounded);
        background-color: transparent;
    }
    .note-desktop.note-orange {
        --current-color: var(--krayt-orange-color);
    }
    .note-desktop.note-green {
        --current-color: var(--krayt-green-color);
    }

    .note-desktop::after,
    .note-desktop::before {
        content: "";
        display: block;
        position: absolute;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        border-radius: var(--krayt-radius-rounded);
        background-color: var(--current-color);
    }

    .note-desktop::before {
        width: 100%;
        height: 100%;
        opacity: 0.3;
        -webkit-animation: pulse 1.4s ease-in-out infinite;
        animation: pulse 1.4s ease-in-out infinite;
    }

    .note-desktop:hover {
        z-index: 10 !important;
        -webkit-transition-delay: 0s !important;
        -o-transition-delay: 0s !important;
        transition-delay: 0s !important;
        -webkit-transform: scale(1.2) !important;
        -ms-transform: scale(1.2) !important;
        transform: scale(1.2) !important;
        -webkit-transition-timing-function: unset !important;
        -o-transition-timing-function: unset !important;
        transition-timing-function: unset !important;
    }

    .note-desktop-text {
        z-index: 10;
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        opacity: 0;
        font-size: 1.5rem;
        line-height: 1.4;
        color: var(--krayt-color-main-text);
        visibility: hidden;
        padding: 20px;
        -webkit-box-shadow: var(--krayt-box-shadow-note);
        box-shadow: var(--krayt-box-shadow-note);
        border-radius: var(--krayt-radius-sm);
        background-color: var(--krayt-color-white);
    }

    .note-desktop-text::after,
    .note-desktop-text::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        background-color: var(--krayt-color-white);
    }

    .note-desktop-text::before {
        top: 0;
        width: 30px;
        height: 100%;
        background-color: transparent;
    }

    .note-desktop:hover .note-desktop-text {
        visibility: visible;
        opacity: 1;
    }

    .note-desktop.note-1 {
        top: 3.49%;
        left: 0.85%;
    }
    .note-desktop.note-2 {
        top: 6.376%;
        left: 85.68%;
    }
    .note-desktop.note-3 {
        top: 9.8%;
        left: 66.61%;
    }
    .note-desktop.note-4 {
        top: 19.53%;
        left: 68.47%;
    }
    .note-desktop.note-5 {
        top: 43.72%;
        left: 67.46%;
    }
    .note-desktop.note-6 {
        top: 16.96%;
        left: 25.42%;
    }
    .note-desktop.note-7 {
        top: 47.4%;
        left: 45.93%;
    }
    .note-desktop.note-8 {
        top: 50%;
        left: 92.46%;
    }
    .note-desktop.note-9 {
        top: 78.84%;
        left: 76.02%;
    }
    .note-desktop.note-10 {
        top: 93.8%;
        left: 90.25%;
    }
    .note-desktop.note-11 {
        top: 23.67%;
        left: 20.59%;
    }
    .note-desktop.note-12 {
        top: 19.32%;
        left: 36.78%;
    }
    .note-desktop.note-13 {
        top: 29.98%;
        left: 77.88%;
    }
    .note-desktop.note-14 {
        top: 16%;
        left: 28.22%;
    }
    .note-desktop.note-15 {
        top: 29%;
        left: 38%;
    }
    .note-desktop.note-16 {
        top: 71%;
        left: 33.5%;
    }
    .note-desktop.note-17 {
        top: 72.3%;
        left: 89.6%;
    }
    .note-desktop.note-18 {
        top: 64.09%;
        left: 9.5%;
    }
    .note-desktop.note-19 {
        top: 72%;
        left: 72%;
    }
    .note-desktop.note-20 {
        top: 16.63%;
        left: 15.5%;
    }
    .note-desktop.note-21 {
        top: 7.28%;
        left: 48.17%;
    }
    .note-desktop.note-22 {
        top: 19.8%;
        left: 73.83%;
    }
    .note-desktop.note-23 {
        top: 65.2%;
        left: 72.55%;
    }

    .note-desktop.note-1 .note-desktop-text {
        width: 296px;
    }
    .note-desktop.note-2 .note-desktop-text {
        width: 312px;
    }
    .note-desktop.note-3 .note-desktop-text {
        width: 346px;
    }
    .note-desktop.note-4 .note-desktop-text {
        width: 314px;
    }
    .note-desktop.note-5 .note-desktop-text {
        width: 318px;
    }
    .note-desktop.note-6 .note-desktop-text {
        width: 288px;
    }
    .note-desktop.note-7 .note-desktop-text {
        width: 258px;
    }
    .note-desktop.note-8 .note-desktop-text {
        width: 330px;
    }
    .note-desktop.note-9 .note-desktop-text {
        width: 404px;
    }
    .note-desktop.note-10 .note-desktop-text {
        width: 294px;
    }
    .note-desktop.note-11 .note-desktop-text {
        width: 226px;
    }
    .note-desktop.note-12 .note-desktop-text {
        width: 332px;
    }
    .note-desktop.note-13 .note-desktop-text {
        width: 234px;
    }
    .note-desktop.note-14 .note-desktop-text {
        width: 326px;
    }
    .note-desktop.note-15 .note-desktop-text {
        width: 280px;
    }
    .note-desktop.note-16 .note-desktop-text {
        width: 256px;
    }
    .note-desktop.note-17 .note-desktop-text {
        width: 346px;
    }
    .note-desktop.note-18 .note-desktop-text {
        width: 360px;
    }
    .note-desktop.note-19 .note-desktop-text {
        width: 284px;
    }
    .note-desktop.note-20 .note-desktop-text {
        width: 264px;
    }
    .note-desktop.note-21 .note-desktop-text {
        width: 310px;
    }
    .note-desktop.note-22 .note-desktop-text {
        width: 232px;
    }
    .note-desktop.note-23 .note-desktop-text {
        width: 252px;
    }

    .note-desktop-text.right {
        left: 52px;
    }

    .note-desktop-text.right::after {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
        left: 0;
    }

    .note-desktop-text.right::before {
        right: 100%;
    }

    .note-desktop-text.left::after {
        -webkit-transform: translate(50%, -50%) rotate(45deg);
        -ms-transform: translate(50%, -50%) rotate(45deg);
        transform: translate(50%, -50%) rotate(45deg);
        right: 0;
    }

    .note-desktop-text.left::before {
        left: 100%;
    }

    .note-desktop-text.left {
        right: 52px;
    }

    /* hero */
    .hero {
        margin-top: var(--krayt-spacing-xl);
        padding: 60px;
    }
    .hero .heading.lv2 {
        font-size: 72px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -2.88px;
    }

    .hero__video {
        margin-top: 28px;
        margin-bottom: 48px;
    }

    .hero__advantages {
        margin-top: var(--krayt-spacing-sm);
        gap: 20px;
    }

    .hero__advantage {
        width: calc((100% - 20px) / 2);
        padding: 40px;
        height: 350px;
    }

    .hero__advantage-icon {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
    }

    .hero__advantage-title {
        margin-bottom: var(--krayt-spacing-sm);
        line-height: 1;
    }

    .hero__advantage:first-child .text-main {
        width: 460px;
    }

    /* compliance */
    .compliance {
        display: flex;
    }

    .compliance__left {
        width: 60%;
        margin-bottom: 0;
    }
    .compliance__left-title {
        font-size: 48px;
        margin-bottom: var(--krayt-spacing-lg);
    }

    .compliance__left-text:first-child {
        margin-bottom: 30px;
    }

    .compliance__left-text:last-child {
        margin-bottom: 83px;
    }

    .compliance__left-text {
        width: 540px;
    }

    .compliance__left-block {
        width: 540px;
        border-radius: var(--krayt-radius-sm);
    }

    /* Panel */
    .panel .heading.lv2 {
        margin-bottom: var(--krayt-spacing-lg);
    }

    .panel__desc {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: var(--krayt-spacing-xl);
    }
    .panel__desc p:nth-child(1) {
        width: 100%;
    }

    .panel__desc p:nth-child(2) {
        margin-left: 40px;
    }

    .panel__content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0;
    }

    .panel__content-left {
        overflow: hidden;
        width: 50%;
        height: 590px;
        padding: 60px 30px 60px 60px;
    }

    .panel__content-left-text .text-title {
        margin-bottom: 8px;
    }

    .panel__content-right {
        width: 50%;
        height: 590px;
        margin: 0 -60px -60px 0;
    }

    .panel__content-image:nth-child(1) {
        top: unset;
        left: unset;
        right: unset;
        max-width: unset;
    }

    /* Styles */
    .styles__desc {
        width: 600px;
        margin-top: var(--krayt-spacing-lg);
        margin-bottom: var(--krayt-spacing-xl);
    }

    .styles__content {
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding-bottom: 125px;
    }

    .styles__content-arrow {
        width: 130px;
        top: 88.5%;
    }

    .styles__content-arrow svg {
        transform: rotate(0);
    }

    /* Rules */
    .rules__head .heading.lv2 {
        width: 700px;
    }

    .rules__head .text-main {
        width: 41%;
        margin-left: 66px;
    }

    .rules__content {
        margin-top: var(--krayt-spacing-2xl);
    }

    .rules__head > * {
        flex: unset;
    }

    .rules__features {
        flex-direction: row;
        gap: 20px;
    }

    .rules__feature {
        height: 180px;
        padding: 30px;
        width: calc((100% - 40px) / 3);
        border-radius: var(--krayt-radius-lg);
    }

    .rules__image {
        margin-top: var(--krayt-spacing-sm);
    }

    /* Sale */
    .sale__head .text-main {
        margin-left: 50px;
        max-width: 616px;
    }

    .sale__content {
        margin-top: var(--krayt-spacing-2xl);
    }

    .sale__content-text {
        margin-bottom: var(--krayt-spacing-xl);
        max-width: 524px;
    }

    .sale__content-images {
        display: flex;
        gap: 104px;
        margin-top: 0;
    }

    .sale__content-image:first-child {
        position: relative;
        left: unset;
        bottom: unset;
        width: unset;
        transform: unset;
        translate: unset;
    }

    /* Card */
    .card__head .text-main p {
        margin-left: 16px;
        max-width: 490px;
    }

    .card__content {
        margin-top: var(--krayt-spacing-2xl);
    }

    /* Modes */
    .modes .subtitle {
        margin-bottom: 8px;
    }

    .modes__head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .modes__head .buttons {
        display: block;
    }

    .modes__content {
        margin-top: var(--krayt-spacing-xl);
    }

    .modes__content-item {
        height: 440px;
        padding: 50px;
    }

    .modes__content-image {
        margin-left: 50px;
        margin-bottom: var(--krayt-spacing-lg);
    }

    .modes .swiper-pagination {
        margin-top: var(--krayt-spacing-md);
    }

    /* Similar */
    .similar__content {
        margin-top: var(--krayt-spacing-xl);
    }

    .similar__head > * {
        flex: unset;
    }

    .similar__features {
        flex-direction: row;
        gap: 20px;
    }

    .similar__feature {
        height: 180px;
        padding: 30px;
        width: calc((100% - 40px) / 3);
        border-radius: 32px;
    }

    .similar__image {
        margin-top: var(--krayt-spacing-sm);
    }

    /* Art */
    .art .heading.lv2 {
        max-width: 800px;
    }

    .art__content {
        margin-top: var(--krayt-spacing-xl);
    }

    .art__content .heading.lv3 {
        margin-bottom: var(--krayt-spacing-lg);
        display: block;
    }

    /* Order */
    .order__wrapper {
        margin-top: var(--krayt-spacing-xl);
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .order__wrapper .section__content-block {
        padding: 40px;
        margin-top: 0;
    }

    .order__wrapper .section__content-block:nth-child(1) figure {
        margin-right: -40px;
        margin-left: -25px;
        margin-top: -18px;
    }

    .order__wrapper .section__content-block:nth-child(1) figure:nth-child(2) {
        margin-top: -104px;
        margin-bottom: -20px;
    }

    .order__wrapper .section__content-block:nth-child(2) figure:nth-child(2) {
        margin: -168px -40px -20px 113px;
    }

    /* Search */
    .search .section__head .text-main {
        max-width: 640px;
    }

    /* Advice */
    .advice__content-images figure:first-child {
        padding-bottom: 60px;
        width: 71%;
    }

    .advice__content-images figure:last-child {
        width: 69.4%;
    }

    /* Contact */
    .contact__content-images {
        padding-bottom: 42px;
    }

    /* Market */
    .market .heading.lv2 {
        max-width: 760px;
    }
    .market .heading.lv4,
    .market .subtitle {
        font-size: 2.4rem;
    }

    .market__content {
        margin-top: 75px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-column-gap: 108px;
        -moz-column-gap: 108px;
        column-gap: 118px;
        row-gap: 108px;
    }

    .market__content-item {
        width: 354px;
    }

    .market__content-item-title {
        margin: 16px 0;
    }

    .market__foot {
        margin-top: 75px;
    }
    .market__foot .heading.lv4 {
        margin-bottom: var(--krayt-spacing-md);
    }

    .market__foot .text-main {
        max-width: 750px;
    }

    /* Custom swiper */
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 6px;
    }
}

@-webkit-keyframes pulse {
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        transform: translate(-50%, -50%) scale(1.1);
    }
}

@keyframes pulse {
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        transform: translate(-50%, -50%) scale(1.1);
    }
}
