* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    /* Color */
    --krayt-main-bg: #f7f7f9;
    --krayt-main-bg-hover: #ececf0;
    --krayt-black-color: #252525;
    --krayt-green-color: #39ab7a;
    --krayt-orange-color: #ec7469;
    --krayt-color-title: #1c253d;
    --krayt-color-main-text: #4b505d;
    --krayt-color-subtitle: #9b9ba4;
    --krayt-color-white: #ffffff;
    --krayt-color-text-footer: #a5a5ac;

    /* Shadow */
    --krayt-drop-shadow: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.05));
    --krayt-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    --krayt-box-shadow-note: 0px 12px 40px 0px rgba(0, 0, 0, 0.15);

    /* Font */
    --krayt-font-family: "Inter", sans-serif;
    --krayt-font-size-base: 16px;
    --krayt-letter-spacing-base: -0.48px;
    --krayt-line-height-base: 1.4;
    --krayt-font-size-title: 20px;
    --krayt-letter-spacing-title: -0.6px;
    --krayt-line-height-title: 1.4;

    /* Spacing */
    --krayt-spacing-xs: 16px;
    --krayt-spacing-sm: 20px;
    --krayt-spacing-md: 32px;
    --krayt-spacing-lg: 40px;
    --krayt-spacing-xl: 60px;
    --krayt-spacing-2xl: 80px;

    /* Border-radius */
    --krayt-radius-xs: 8px;
    --krayt-radius-sm: 16px;
    --krayt-radius-md: 20px;
    --krayt-radius-lg: 32px;
    --krayt-radius-xl: 40px;
    --krayt-radius-rounded: 50%;

    /* Transition */
    --krayt-transition: 0.3s ease;
    --krayt-transition-animate: 0.5s ease;
}

html {
    font-family: var(--krayt-font-family) !important;
    font-size: 68.75% !important;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--krayt-font-family) !important;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--krayt-color-main-text);
}

/* Common */
img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style: none;
}

.heading strong {
    font-weight: inherit;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: var(--krayt-color-white);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

strong {
    -webkit-transition: var(--krayt-transition);
    -o-transition: var(--krayt-transition);
    transition: var(--krayt-transition);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: inherit !important;
    letter-spacing: -0.03em;
}

figure {
    /* Remove white-space with image */
    line-height: 0;
}

.container-ct {
    overflow: hidden;
}

.main {
    width: calc(100vw - 32px);
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.section {
    margin-bottom: var(--krayt-spacing-2xl);
}

.section:last-child {
    margin-bottom: 0;
}

.section__head,
.section__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 20px;
}

.section__info-left .heading {
    margin-bottom: var(--krayt-spacing-xs);
}

.section__info-left .text-main:not(:last-of-type) {
    margin-bottom: 24px;
}

.section__info-right-image {
    margin: 0 -24px -24px -24px;
    transform: translateZ(0);
    filter: var(--krayt-drop-shadow);
    -webkit-filter: var(--krayt-drop-shadow);
}

.section__content-block {
    margin-top: var(--krayt-spacing-lg);
}

.section__content-block figure {
    transform: translateZ(0);
    filter: var(--krayt-drop-shadow);
    -webkit-filter: var(--krayt-drop-shadow);
}

.block {
    overflow: hidden;
    background-color: var(--krayt-main-bg);
    border-radius: var(--krayt-radius-md);
    padding: 20px;
}

.icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nowrap,
.nowrap-mobile {
    white-space: nowrap;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Animation */
[data-animate="fade-up"] {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    opacity: 0;
}

[data-animate="fade"] {
    opacity: 0;
}

[data-animate="fade-from-left"] {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
    opacity: 0;
}

[data-animate="fade-from-left"].pro {
    -webkit-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0);
    opacity: 0;
}

[data-animate="zoom-out"] {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
}

[data-animate] {
    -webkit-transition: var(--krayt-transition-animate);
    -o-transition: var(--krayt-transition-animate);
    transition: var(--krayt-transition-animate);
    z-index: 9;
}

[data-animate].active {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

[data-animate][data-animate="zoom-out"].active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-timing-function: cubic-bezier(0.23, 1.2, 0.36, 1.88);
    -o-transition-timing-function: cubic-bezier(0.23, 1.2, 0.36, 1.88);
    transition-timing-function: cubic-bezier(0.23, 1.2, 0.36, 1.88);
    opacity: 1;
}

/* Text */
.text-orange {
    color: var(--krayt-orange-color) !important;
}
.text-green {
    color: var(--krayt-green-color) !important;
}

.text-main {
    font-size: var(--krayt-font-size-base);
    line-height: var(--krayt-line-height-base);
    color: var(--krayt-color-main-text);
    letter-spacing: var(--krayt-letter-spacing-base);
    margin-bottom: 0;
}

.text-title {
    color: var(--krayt-color-title);
    font-size: var(--krayt-font-size-title);
    line-height: var(--krayt-line-height-title);
    letter-spacing: var(--krayt-letter-spacing-title);
    font-weight: 700;
}

.text-bold {
    font-weight: 700;
}

/* Title */
.heading {
    font-weight: 700;
}

.heading.lv2 {
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.84px;
    color: var(--krayt-color-title);
}

.heading.lv3 {
    font-size: 28px;
    line-height: 140%;
    letter-spacing: -0.84px;
    color: var(--krayt-color-title);
}

.heading.lv4 {
    font-size: 20px;
    line-height: normal;
    color: var(--krayt-color-title);
}

.subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: var(--krayt-color-subtitle);
    margin-bottom: var(--krayt-spacing-sm);
    letter-spacing: -0.6px;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 4px;
    -moz-column-gap: 4px;
    column-gap: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: var(--krayt-transition);
    -o-transition: var(--krayt-transition);
    transition: var(--krayt-transition);
    position: relative;
    background-color: var(--krayt-main-bg);
    width: 40px;
    height: 40px;
    border-radius: var(--krayt-radius-rounded);
    cursor: pointer;
}

.button.swiper-button-disabled {
    opacity: 0.4;
    pointer-events: none;
}

.button.prev::after,
.button.next::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.button.next::after {
    width: 6px;
    height: 10px;
    -webkit-mask-image: url(../icons/next.svg);
    mask-image: url(../icons/next.svg);
    background-color: white;
}

.button.prev::after {
    width: 6px;
    height: 10px;
    -webkit-mask-image: url(../icons/prev.svg);
    mask-image: url(../icons/prev.svg);
    background-color: white;
}

/* Notes */
.notes-mobile {
    margin-top: var(--krayt-spacing-lg);
    counter-reset: list-counter;
}

.notes-mobile-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-left: 20px;
}

.notes-mobile-item::before {
    position: absolute;
    right: calc(100% - 16px);
    top: 3px;
    counter-increment: list-counter; /* Increment counter */
    content: counter(list-counter) ".";
    color: var(--krayt-color-main-text);
    font-size: 16px;
}

.notes-mobile-item:not(:first-child) {
    margin-top: var(--krayt-spacing-xs);
}

.note-desktop {
    display: none;
}

/* Hero */
.hero {
    margin-top: var(--krayt-spacing-xs);
    padding: 32px;
}

.hero .text-highlight {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.hero .heading.lv2 {
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
}

.hero__video {
    width: 75.24%;
    margin: auto;
    margin-bottom: 6px;
}

.hero__video-block {
    padding-bottom: 100%;
    position: relative;
}

.hero__video-block video {
    position: absolute;
    left: 0;
    top: 0;
}

.hero .device {
    display: inline-block;
}

.hero__advantages {
    display: flex;
    margin-top: var(--krayt-spacing-xs);
    gap: 16px;
    flex-wrap: wrap;
}

.hero__advantage {
    width: 100%;
}

.hero__advantage-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-bottom: var(--krayt-spacing-sm);
}

.hero__advantage-title {
    margin-bottom: 12px;
    line-height: 1.2;
}

/* compliance */
.compliance__left {
    /* margin-bottom: var(--krayt-spacing-lg); */
}

.compliance__left-title {
    color: var(--krayt-color-title);
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.6px;
    margin-bottom: var(--krayt-spacing-sm);
}

.compliance__left-text:first-child {
    margin-bottom: var(--krayt-spacing-sm);
}

.compliance__left-text:last-child {
    margin-bottom: var(--krayt-spacing-lg);
}

.compliance__left-block {
    border-radius: var(--krayt-radius-xs);
    background: var(--krayt-color-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.compliance__left-quote-text {
    font-style: italic;
}

.compliance__right {
    margin-top: 40px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

/* Panel */
.panel {
    margin-top: 54px;
}

.panel .heading.lv2 {
    margin-bottom: var(--krayt-spacing-sm);
}

.panel__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: var(--krayt-spacing-lg);
}

.panel__content {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.panel__content-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
}

.panel__content-left-text .text-title {
    margin-bottom: 4px;
}

.panel__content-right {
    height: 310px;
    position: relative;
}

.panel__content-image:nth-child(1) {
    position: absolute;
    top: 0;
    left: -32px;
    right: -24px;
    bottom: 0;
}

/* Styles */
.styles__desc {
    margin-top: var(--krayt-spacing-sm);
    margin-bottom: var(--krayt-spacing-lg);
}

.styles__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.styles__content-arrow {
    width: 80px;
    position: absolute;
    left: 50%;
    top: 47.1%;
    transform: translate(-44%, -50%);
}

.styles__content-arrow svg {
    transform: rotate(108deg);
}

.styles__content-image {
    border-radius: var(--krayt-radius-sm);
    overflow: hidden;
    box-shadow: var(--krayt-box-shadow);
    display: inline-flex;
}

/* Rules */
.rules .section__preview-image {
    padding-top: 90%;
    background-color: var(--krayt-color-white);
}

.rules__content {
    margin-top: var(--krayt-spacing-lg);
}

.rules__features {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rules__feature {
    border-radius: var(--krayt-radius-md);
    background-color: var(--krayt-main-bg);
    padding: 20px;
}

.rules__feature-title {
    margin-bottom: 8px;
}

.rules__image {
    margin-top: var(--krayt-spacing-xs);
}

.rules__image img {
    border-radius: var(--krayt-radius-sm);
    box-shadow: var(--krayt-box-shadow);
    overflow: hidden;
}

/* Sale */
.sale__content {
    margin-top: var(--krayt-spacing-lg);
}

.sale__content-title {
    margin-bottom: 8px;
}

.sale__content-text {
    margin-bottom: var(--krayt-spacing-lg);
}

.sale__content-images {
    position: relative;
    margin-top: 260px;
}

.sale__content-image {
    display: inline-flex;
    border-radius: var(--krayt-radius-sm);
    box-shadow: var(--krayt-box-shadow);
    overflow: hidden;
}

.sale__content-image:first-child {
    position: absolute;
    left: 0;
    bottom: 95px;
    width: 48%;
    transform: rotate(-10deg);
    translate: 26%;
}

.sale__content-image:last-child {
    position: relative;
}

/* Card */
.card__content {
    margin-top: var(--krayt-spacing-lg);
}

.card__content-image {
    position: relative;
}

.card__content-image figure {
    transform: translateZ(0);
    filter: var(--krayt-drop-shadow);
    -webkit-filter: var(--krayt-drop-shadow);
}

/* Modes */
.modes {
    margin-top: -50px;
}

.modes .subtitle {
    margin-bottom: var(--krayt-spacing-xs);
}

.modes__head .buttons {
    display: none;
}

.modes__content {
    margin-top: 18px;
}

.modes__content-item {
    padding: 20px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.modes__content-image {
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 75%;
    transform: translateZ(0);
    overflow: hidden;
    border-radius: var(--krayt-radius-sm) 0 0 var(--krayt-radius-sm);
    box-shadow: var(--krayt-box-shadow);
    margin-left: 20px;
    margin-bottom: var(--krayt-spacing-sm);
}

.modes .swiper-pagination {
    margin-top: 10px;
}

/* Similar */
.similar {
    margin-top: -50px;
}

.similar__content {
    margin-top: var(--krayt-spacing-lg);
}

.similar__features {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.similar__feature {
    border-radius: var(--krayt-radius-md);
    background-color: var(--krayt-main-bg);
    padding: 20px;
}

.similar__feature-title {
    margin-bottom: 8px;
}

.similar__image {
    margin-top: var(--krayt-spacing-xs);
}

.similar__image img {
    border-radius: var(--krayt-radius-sm);
    box-shadow: var(--krayt-box-shadow);
    overflow: hidden;
}

/* Art */
.art__content {
    margin-top: var(--krayt-spacing-lg);
}

.art__content .heading.lv3 {
    display: none;
}

.art__content-image {
    position: relative;
}

.art__content-image {
    transform: translateZ(0);
    box-shadow: var(--krayt-box-shadow);
}

/* Order */
.order {
    margin-top: -50px;
}

.order .section__content-block figure {
    -webkit-filter: unset;
    filter: unset;
}

.order__wrapper {
    margin-top: var(--krayt-spacing-lg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 24px;
}

.order__content-images {
    position: relative;
}

.order__wrapper .section__content-block {
    margin-top: 0;
}

.order__wrapper .section__content-block:nth-child(1) figure {
    margin-right: -24px;
    margin-left: -10px;
}

.order__wrapper .section__content-block:nth-child(1) figure:nth-child(2) {
    margin-top: -60px;
    margin-bottom: -6px;
}

.order__wrapper .section__content-block:nth-child(2) figure:nth-child(1) {
    transform: translateZ(0);
    filter: var(--krayt-drop-shadow);
    -webkit-filter: var(--krayt-drop-shadow);
}

.order__wrapper .section__content-block:nth-child(2) figure:nth-child(2) {
    margin: -109px -20px -18px 73px;
}

/* Advice */
.advice__content-images {
    position: relative;
}

.advice__content-images figure:first-child {
    padding-bottom: 40px;
    width: 70%;
}

.advice__content-images figure:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 69%;
}

/* Contact */
.contact__content-images {
    padding-bottom: 14px;
    position: relative;
}
.contact__content-images > figure:first-child {
    width: 91.78%;
}
.contact__content-images-foot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38.97%;
}

/* Market */
.market__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: var(--krayt-spacing-lg);
    row-gap: 40px;
}

.market__content-item .subtitle {
    font-size: 20px;
    margin-bottom: 0;
}

.market__content-item-title {
    margin: 12px 0;
}

.market__foot {
    margin-top: var(--krayt-spacing-xl);
}
.market__foot .heading.lv4 {
    margin-bottom: var(--krayt-spacing-sm);
    font-size: 24px;
}

.market__foot .text-main {
    color: var(--krayt-color-text-footer);
}

/* Custom swiper */
.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}

.swiper-pagination-bullet-active {
    background-color: var(--krayt-black-color);
}

.swiper-pagination {
    position: static;
}
